# Pandas Tasks and Challenges

### Task 1:
    Open file heights_weights_genders using open function and convert the males/Males to 0 and females/Females to 1
    Note: Do not use pandas dataframes...

In [11]:
import pandas as pd

In [28]:
# how to read content of the file
with open('files/heights_weights_genders.csv') as file:
    lines = file.readlines()

lines[:20]

['"Gender","Height","Weight"\n',
 '"Male",73.847017017515,241.893563180437\n',
 '"Male",68.7819040458903,162.310472521300\n',
 '"Male",74.1101053917849,212.7408555565\n',
 '"Male",71.7309784033377,220.042470303077\n',
 '"Male",69.8817958611153,206.349800623871\n',
 '"Male",67.2530156878065,152.212155757083\n',
 '"Male",68.7850812516616,183.927888604031\n',
 '"Male",68.3485155115879,167.971110489509\n',
 '"Male",67.018949662883,175.92944039571\n',
 '"Male",63.4564939783664,156.399676387112\n',
 '"Male",71.1953822829745,186.604925560358\n',
 '"Male",71.6408051192206,213.741169489411\n',
 '"Male",64.7663291334055,167.127461073476\n',
 '"Male",69.2830700967204,189.446181386738\n',
 '"Male",69.2437322298112,186.434168021239\n',
 '"Male",67.6456197004212,172.186930058117\n',
 '"Male",72.4183166259878,196.028506330482\n',
 '"Male",63.974325721061,172.883470208780\n',
 '"Male",69.6400598997523,185.983957573130\n']

In [29]:
# answer
# how to read content of the file
with open('files/heights_weights_genders.csv') as file:
    lines = file.readlines()
lines_list=list(lines)

lines_list_Final=[]

for i in range(len(lines_list)):
    if (lines_list[i][1]) =="M":
        lines_list_M= lines_list[i][0:0]+"0"+lines_list[i][6:]
        lines_list_Final.append(lines_list_M)
    elif (lines_list[i][1]) =="F":
        lines_list_F= lines_list[i][0:0]+"1"+lines_list[i][8:]
        lines_list_Final.append(lines_list_F)

lines_list_Final[:20]

['0,73.847017017515,241.893563180437\n',
 '0,68.7819040458903,162.310472521300\n',
 '0,74.1101053917849,212.7408555565\n',
 '0,71.7309784033377,220.042470303077\n',
 '0,69.8817958611153,206.349800623871\n',
 '0,67.2530156878065,152.212155757083\n',
 '0,68.7850812516616,183.927888604031\n',
 '0,68.3485155115879,167.971110489509\n',
 '0,67.018949662883,175.92944039571\n',
 '0,63.4564939783664,156.399676387112\n',
 '0,71.1953822829745,186.604925560358\n',
 '0,71.6408051192206,213.741169489411\n',
 '0,64.7663291334055,167.127461073476\n',
 '0,69.2830700967204,189.446181386738\n',
 '0,69.2437322298112,186.434168021239\n',
 '0,67.6456197004212,172.186930058117\n',
 '0,72.4183166259878,196.028506330482\n',
 '0,63.974325721061,172.883470208780\n',
 '0,69.6400598997523,185.983957573130\n',
 '0,67.9360048540095,182.426648013226\n']

### Task 2:
    Do the previous using pandas dataframes...

In [27]:
# answer

hight_df=pd.read_csv("files/heights_weights_genders.csv")

for i in range(len(hight_df["Gender"])):
    if hight_df["Gender"][i] == "Male":
        hight_df["Gender"][i]=0
    elif hight_df["Gender"][i] == "Female":
        hight_df["Gender"][i]=1
        
hight_df.head()

C:\Users\irit\anaconda3\envs\env371\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\irit\anaconda3\envs\env371\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

  Gender     Height      Weight
0      0  73.847017  241.893563
1      0  68.781904  162.310473
2      0  74.110105  212.740856
3      0  71.730978  220.042470
4      0  69.881796  206.349801

### Task 3:
    Check whether mens are heavier or women

In [14]:
# answer
import numpy as np
import pandas as pd
import statistics

hight_df=pd.read_csv("files/heights_weights_genders.csv")

male=[]
female=[]
for i in range(len(hight_df["Gender"])):
    if hight_df["Gender"][i] == "Male":
        male.append(hight_df["Weight"][i])
    elif hight_df["Gender"][i] == "Female":
        female.append(hight_df["Weight"][i])
        
print(f"mean male : {statistics.mean(male)}\nmean female : {statistics.mean(female)} ")

mean male : 187.0206206581932
mean female : 135.86009300746835

### Task 4:
    Read the tips file and check whether males pay more tips or females

In [15]:
import pandas as pd
tips_df = pd.read_csv('files/tips.csv')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [17]:
# answer

import pandas as pd
tips_df = pd.read_csv('files/tips.csv')
mean = tips_df.groupby(['sex']).mean()
mean

        total_bill       tip      size
sex
Female   18.056897  2.833448  2.459770
Male     20.744076  3.089618  2.630573

### Task:
    Compute the average tips people give for different meals
    Note:
        Your program should not be static. As an example, if a dataframe with three meals were to be given to your code/function, it should be able to work properly without raising any errors or requirements for extra input..

In [18]:
different_meals = tips_df['time'].unique()
print(different_meals)

['Dinner' 'Lunch']

In [19]:
import pandas as pd
tips_df = pd.read_csv('files/tips.csv')
mean = tips_df.groupby(["time"]).mean()
mean

        total_bill       tip      size
time
Dinner   20.797159  3.102670  2.630682
Lunch    17.168676  2.728088  2.411765

### Task:
    Which day of the week do smokers like the better?

In [20]:
tips_df = pd.read_csv('files/tips.csv')
tips_df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [168]:
# answer

import pandas as pd

tips_df = pd.read_csv('files/tips.csv')


sat=[]
sun=[]
thur=[]
fri=[]

for i in range(len(tips_df)):
    if tips_df["day"][i] == "Sat":
        sat.append(tips_df["day"][i])
    elif tips_df["day"][i] == "Female":
        sun.append(tips_df["day"][i])
    elif tips_df["day"][i] == "Thur":
        thur.append(tips_df["day"][i])
    elif tips_df["day"][i] == "Fri":
        fri.append(tips_df["day"][i])
        

print(f"sat num : {len(sat)}\nsan num : {len(sun)}\nthur num : {len(thur)} \nfri num : {len(fri)} ")

sat num : 87
san num : 0
thur num : 62
fri num : 19

### Task:
    compute the sum of tips( or any other column) paid by 4 different groups (Smoker-males, non-smoker-males, smoker-females, and non-smoker-females)
    It's better to create a function to handle this task.
    Note: you are not allowed to use group by and other out of the box functionalities.
    Just: use dataframes and iterate over them ...

In [21]:
# answer

import pandas as pd

tips_df = pd.read_csv('files/tips.csv')

Smoker_males=[]
non_smoker_males=[]
smoker_females=[]
non_smoker_females=[]

for i in range(len(tips_df)):
    if tips_df["sex"][i] == "Male" and tips_df["smoker"][i] == "Yes":
        Smoker_males.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Male" and tips_df["smoker"][i] == "No":
        non_smoker_males.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Female" and tips_df["smoker"][i] == "Yes":
        smoker_females.append(tips_df["tip"][i])
    elif tips_df["sex"][i] == "Female" and tips_df["smoker"][i] == "No":
        non_smoker_females.append(tips_df["tip"][i])
        
print(f"Smoker-males : {sum(Smoker_males)}\nnon-smoker-males : {sum(non_smoker_males)}\nsmoker-females : {sum(smoker_females)} \nnon-smoker-females : {sum(non_smoker_females)}")

Smoker-males : 183.07
non-smoker-males : 302.0
smoker-females : 96.74
non-smoker-females : 149.77

*:)*